*.sink.graphite.class=org.apache.spark.metrics.sink.GraphiteSink
*.sink.graphite.host=spark-graphite.yit.com
*.sink.graphite.port=2003
*.sink.graphite.period=5
*.sink.graphite.unit=seconds
*.sink.graphite.prefix=yit_spark_streaming_rehearse

# Enable jvm source for instance master, worker, driver and executor
applications.source.jvm.class=org.apache.spark.metrics.source.JvmSource

driver.source.jvm.class=org.apache.spark.metrics.source.JvmSource

executor.source.jvm.class=org.apache.spark.metrics.source.JvmSource

shuffleService.sourcre.jvm.class=org.apache.spark.metrics.source.JvmSource

applicationMaster.sourcre.jvm.class=org.apache.spark.metrics.source.JvmSource
